
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@Html.Action("PartialHead")
<body>
    <!-- Spinner Start -->
    <!-- Spinner End -->
    <!-- Navbar Start -->
    @Html.Action("PartialNavbar")
    <!-- Navbar End -->
    <!-- Carousel Start -->
    @Html.Action("PartialCarousel")
    <!-- Carousel End -->
    <!-- Service Start -->
@Html.Action("PartialCard")
    <!-- Service End -->
    <!-- About Start -->
@Html.Action("PartialAbout")  
    <!-- About End -->
    <!-- Categories Start -->
@Html.Action("PartialCategories")   
    <!-- Categories End -->
    <!-- Courses Start -->
@Html.Action("PartialCourses")
    <!-- Courses End -->
    <!-- Team Start -->
@Html.Action("PartialInstructor")
    <!-- Team End -->
    <!-- Testimonial Start -->
@Html.Action("PartialStudent")
    <!-- Testimonial End -->
    <!-- Footer Start -->
@Html.Action("PartialFooter")
    <!-- Footer End -->
    <!-- JavaScript Libraries -->
   @Html.Action("PartialScript")
</body>

</html>