@model List <MyElearningProject.DAL.Entities.Category>
        <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <h4 class="text-white mb-3">Hızlı Erişim</h4>
                <a class="btn btn-link" href="/AboutPage/AboutPageIndex/">Hakkkımızda</a>
                <a class="btn btn-link" href="/ContactPage/ContactPageIndex/">İletişim</a>
                <a class="btn btn-link" href="/InstructorPage/InstructorPageIndex">Eğitmenlerimiz</a>
                <a class="btn btn-link" href="/CoursePage/CoursePageIndex">Kurslar</a>
                <a class="btn btn-link" href="">Yardım</a>
            </div>
            <div class="col-lg-4 col-md-6">
                <h4 class="text-white mb-3">İletişim</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>@ViewBag.detail</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>@ViewBag.phone</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>@ViewBag.mail</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <h4 class="text-white mb-3">Gallery</h4>
                <div class="row g-2 pt-2">
                    @foreach (var item in Model)
                    {
                        <div class="col-4">
                            <img class="bg-light p-1" width="75" height="53" src="@item.CategoryImageUrl" alt="">
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Asp.Net MVC 5</a>, Tüm Hakları Saklıdır.
                   @DateTime.Now.Year
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

